:root {
    --bg: #fafafa;
    --blue: #1E90FF;
    --pink: #fd33b0;
    --h1: 5rem;
    --h1-small: 3.5rem;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes attention {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.06);
    }
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc((var(--width) * 1px) * -1);
    }
}

@keyframes autoRunRerve {
    from {
        left: calc((var(--width) * 1px) * -1);
    }

    to {
        left: 100%;
    }
}

@keyframes CloudtoLeft {
    to {
        left: 20%;
    }
}

body {
    color: black;
    overflow: hidden;
    width: 100vw;
    margin: 0;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.divider svg {
    width: 300px;
    max-width: 50%;
}

.parallax-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    perspective: 10px;
    transform-style: preserve-3d;
}

.cloud-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform-style: preserve-3d;
}

.cloud-front {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateZ(5px) scale(1);
    /* background-color: black; */
}

.cloud-front img {
    position: absolute;
    width: 1765px;
    bottom: -330px;
    left: -15%;
    animation: CloudtoLeft linear;
    animation-timeline: scroll();
}

.cloud-trans {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateZ(1.5px) scale(1);
}

.cloud-trans img {
    position: absolute;
    height: 70%;
    left: -120px;
    bottom: -200px;
}

#hero .cloud-back {
    position: absolute;
    height: 100%;
    bottom: -200px;
    z-index: -1;
    transform: translateZ(-5px) scale(1.5);
}

#hero {
    height: 100vh;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}

#hero::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url('../img/bg/—Pngtree—delicate\ light\ pink\ watercolor\ texture_15231073.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    transform: translateZ(-20px) scale(4);
    z-index: -2;
}

#hero h1 {
    font-family: "Imperial Script", cursive;
    font-weight: bold;
    font-size: var(--h1);
    color: var(--pink);
}

#hero h2 {
    color: #c9057e;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Petit Formal Script", cursive;
}

#hero h4,
#hero h5 {
    font-size: 0.8rem;
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;
}

#hero h5 {
    font-size: 0.7rem;
}

#hero p {
    font-size: 0.7rem;
    font-family: "Bentham", serif;
    font-weight: bold;
    animation: attention 1s infinite;
}

#content {
    position: relative;
    width: 100%;
    background-color: white;
    background-image: url('../img/bg/Free\ Vector\ _\ Hand\ painted\ watercolor\ pastel\ sky\ background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    transform-style: preserve-3d;
}

#content .home {
    text-align: center;
    /* transform: translateZ(1px) scale(0.9); */
}

#content .home .bismillah {
    margin: auto;
    width: 50%;
    max-width: 200px;
}

#content h1 {
    font-family: "Imperial Script", cursive;
    font-size: 5rem;
    font-weight: bold;
}

#content h2 {
    font-family: "Petit Formal Script", cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

#content h3 {
    font-family: 'Bentham', 'serif';
    font-size: 1.2rem;
    font-weight: bold;
}

#content h4 {
    font-size: 1rem;
    font-family: 'Outfit', 'sans-serif';
}

#content h5 {
    font-size: 0.9rem;
    font-family: 'Outfit', 'sans-serif';
}

#content p {
    font-size: 0.8rem;
    font-family: 'Outfit', 'sans-serif';
}

#content span {
    font-size: 0.8rem;
    font-family: 'Outfit', 'sans-serif';
}

#content .home #ikhsan img,
#sofia img {
    width: 100%;
    margin: 0;
}

#content .home h2 {
    font-size: 2rem;
}

#content .home #ikhsan h2 {
    color: var(--blue);

}

#content .home #sofia h2 {
    color: var(--pink);
}

#content .info {
    min-height: 100vh;
    color: white;
    text-align: center;
    padding: 50px 0;
    /* margin-left: 50px;
    margin-right: 50px; */
    transform: translateZ(2px) scale(0.8);
    /* border-bottom: 15px solid #c9057e; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#content .info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Untuk dukungan browser Webkit */
    background: #1f1e1e;
    border: 1px solid rgba(255, 255, 255, 0.274);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#content .info h1 {
    font-weight: lighter;
}

#content .info h3 {
    font-weight: lighter;
    font-size: 1.9rem;
}

#content .info .iframe-wrapper {
    margin: auto;
    width: 600px;
    height: 300px;
    max-width: 100%;
    position: relative;
}

#content .info .iframe-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: rgb(12, 12, 12) 3px 3px 6px 0px inset, rgba(46, 46, 46, 0.788) -3px -3px 6px 1px inset;
}

#content .info iframe {
    width: 100%;
    height: 100%;
    pointer-events: auto;
}


#timer {
    text-align: center;
}

#timer .day,
.hour,
.minute,
.second {
    font-family: "Bentham", serif;
    font-size: 1rem;
    padding: 20px;
    margin: 5px;
    display: inline;
}

#timer span {
    font-size: 2rem;
}


#content .info .akad {
    border-right: 0.5px solid white;
}

#content .info .resepsi {
    border-left: 0.5px solid white;
}

#content .info .btn {
    padding: 10px;
    background-color: var(--pink);
    border: 0;
    font-size: 0.8rem;
}

#content .info .btn:hover {
    color: black;
    padding: 10px;
    background-color: var(--pink);
    border: 0;
}

#content .info .row .col:nth-child(1) {
    display: flex;
    justify-content: end;
}

#content .info .row .col:nth-child(2) {
    display: flex;
    justify-content: start;
}

#content .info .wallet-card {
    max-height: 160px;
    min-width: 200px;
    max-width: 350px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: left;
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 0.8rem;
    float: left;
    padding: 15px;
}

#content .info .wallet-card-header {
    margin-bottom: 10px;
}

#content .info .wallet-card-header::after {
    content: "";
    clear: both;
    display: table;
}

#content .info .wallet-card-header button:nth-child(1) {
    float: left;
    /* margin: 5px 10px;     */
    background-color: rgba(255, 255, 255, 0.664);
    padding: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    border: 0;
}

#content .info .wallet-card-header button:nth-child(1):hover {
    background-color: rgb(255, 255, 255);
}

#content .info .wallet-card-header p:nth-child(2) {
    margin: 5px 10px;
    float: right;
}

#content .info .wallet-card img {
    /* margin: 0 10px; */
    margin-right: 10px;
    width: 20%;
    float: left;
}

#content .word {
    margin: auto;
    text-align: center;
}

#content .story {
    padding-inline: 10px;
    width: 100%;
    transform: translateZ(2px) scale(0.8);
    will-change: transform;
    /* background-color:#1f1e1e; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    /* color: white; */
    padding-block: 20px;
}

/* #content .story h1, h3{
    font-weight: lighter;
} */

#content .story>header {
    text-align: center;
    width: 100%;
}

#content .story .timeline {
    list-style-type: none;
    padding: 1.4rem 0;
    margin-top: 2rem;
    position: relative;
}

#content .story .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
}

#content .story .timeline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

#content .story .timeline .timeline-after {
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    bottom: 0;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}



#content .story .timeline li {
    width: 100%;
    margin: 5rem 0;
    border-radius: 10px;
    position: relative;
    font-family: 'Outfit', 'sans serif';
    display: flex;
    gap: 150px;
    flex-grow: 1;
}

#content .story .timeline li .timeline-image {
    width: 70px;
    height: 70px;
    /* overflow: hidden; */
    border-radius: 50%;
    border: 4px solid #141414;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content .story .timeline li .timeline-image::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -10px;
    transform: translateY(-50%);
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    transform: rotateZ(45deg);
}

#content .story .timeline li:nth-child(even) .timeline-image::before {
    left: auto;
    right: -10px;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid black;
    border-top: 10px solid black;
}

#content .story .timeline li .timeline-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#content .story .timeline li:nth-child(odd) .timeline-panel {
    text-align: right;
}

#content .story .timeline li:nth-child(even) .timeline-panel {}

#content .story .timeline li .timeline-panel {
    margin-inline: 20px;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
}

#content .story .timeline li .sibling {
    width: 100%;
    height: 100px;
}

#content .gallery {
    text-align: center;
    padding: 0 50px;
    margin: 0 50px;
}

#content .gallery h1 {
    margin: auto;
}

#content .gallery .slider {
    height: calc(var(--height)*1px);
    width: 100%;
    mask-image: linear-gradient(to right,
            transparent,
            #000 5% 90%,
            transparent);
    margin: 20px 0;
}

#content .gallery .slider .list {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: calc((var(--width)*1px) * var(--quantity));
    position: relative;
}

#content .gallery .slider .list .item {
    height: calc(var(--height)*1px);
    width: calc(var(--width)*1px);
    position: absolute;
    left: 100%;
    transition: filter 0.2s ease-in-out;
    animation: autoRun calc(var(--duration)*1s) linear infinite;
    animation-delay: calc((var(--duration)*1s) / var(--quantity) * (var(--quantity) - var(--position)) * -1) !important;
}

#content .gallery .slider[reserve="true"] .list .item {
    animation: autoRunRerve calc(var(--duration)*1s) linear infinite;
}

#content .gallery .slider .list .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

#content .gallery .slider:hover .list .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

#content .gallery .slider .list .item:hover {
    filter: grayscale(0);
}

#content .comment {
    padding: 25px !important;
    /* transform: translateZ(1px) scale(0.9); */
    font-family: 'Outfit', 'sans serif';
}

#content .comment .message {
    /* background-color: #fc3477; */
    border-radius: 10px;
    /* border: 2px solid var(--pink); */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    width: 100%;
    margin: 0 !important;
}

/* #content .comment .message form{
    width: 50%;
    margin: auto !important;
    background-color: pink;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 2rem;
} */

#content .comment .message input,
#content .comment .message span,
#content .comment .message label,
#content .comment .message button,
#content .comment .message textarea {
    /* font-family: 'Bentham', sans-serif; */
    font-family: 'Outfit', 'sans serif';
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
}

#content .comment .message button {
    font-size: 1.3rem;
    background-color: transparent;
    text-align: left;
    padding: 0;
    width: 200px;
    height: 50px;
}

#content .comment .message button span {
    /* transition: outline 0.1s ease-in-out; */
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.527);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}

#content .comment .message button span:hover {
    border: 1px solid rgba(0, 0, 0, 0.527);
    outline: 2px solid black;
}

#content .comment .message textarea:focus,
#content .comment .message input:focus {
    outline: 0;
}

#content .comment .container {
    height: 400px;
    overflow: auto;
    margin: 0;
    padding: 0;
}


#content .comment .carousel-item {
    padding: 10px;
}

#content .close {
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

#music-button {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 30%;
    background-color: bisque;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in, box-shadow 0.2s ease-out;
}

#music-button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: translateY(-2px);
    transform: translateX(2px);
}

#music-button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translateY(0px);
    transform: translateX(0px);
}


@media (max-width: 978px) {
    .cloud-front img {
        left: -45%;
    }
}


@media (max-width: 960px) {
    #content .info .row .col:nth-child(1) {
        display: flex;
        justify-content: center;
    }

    #content .info .row .col:nth-child(2) {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 677px) {
    .divider svg {
        width: 150;
    }

    #hero h1 span {
        display: block;
    }

    .cloud-trans img {
        height: 300px;
        bottom: -150px;
    }

    .cloud-front img {
        bottom: -400px;
        width: 1600px
            /* left: -30px; */
            /* bottom: -550px; */
            /* left: -200px; */
    }


    #content .home #sofia h2,
    #content .home #ikhsan h2 {
        font-size: 2.7rem;
        font-weight: bold;
    }

    #content h1 {
        font-size: var(--h1-small) !important;
    }

    #content h2 {
        font-size: 1rem !important;
    }

    #content h3 {
        font-size: 1rem !important;
    }

    #content h4 {
        font-size: 0.7rem !important;
    }

    #content h5 {
        font-size: 0.7rem !important;
    }

    #content .home p {
        font-size: 0.7rem !important;
    }

    #content .info {
        margin: 0;
    }

    #content .info p {
        font-size: 0.7rem;
    }


    #content .info .timer span {
        font-size: 1;
        font-family: 'Formal Script' !important;
    }

    #content .info .iframe-wrapper {
        height: 200px;
    }

    #content .info .akad p,
    #content .info .resepsi p {
        font-size: 0.7rem;
        font-weight: 300;
    }

    #content .info .resepsi h3,
    #content .info .akad h3 {
        font-size: 1.2rem;
    }

    #content .info h4 {
        font-size: 0.8rem;
        font-weight: 300;
    }

    #content .story h3 {
        font-size: 0.8rem;
    }

    #content .story .timeline {
        display: block;
    }

    #content .story .timeline::before,
    #content .story .timeline::after,
    #content .story .timeline .timeline-after {
        left: 40px;
    }

    #content .story .timeline li:nth-child(odd) .timeline-image::before {
        left: auto;
        right: -10px;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid black;
        border-top: 10px solid black;
    }

    #content .story .timeline li {
        margin-left: 5rem;
        display: block;
    }

    #content .story .timeline li .timeline-image {
        left: -75px;
        transform: translateX(0);
        width: 70px;
        height: 70px;
        /* border-right: 10px solid #ffecdc; */
        /* border-bottom: 7px solid #ffecdc; */
    }

    #content .story .timeline li .timeline-panel {
        margin: 0;
        width: 70%;
        margin-left: 10px;

    }

    #content .story .timeline li:nth-child(odd) .timeline-panel {
        text-align: left;
    }

    #content .story .timeline li .sibling {
        height: 0px;
    }

    #content .gallery {
        padding: 0;
        margin: 0;
    }

    #content .gallery .slider {
        --width: 150 !important;
        --height: 150 !important;
    }

    #timer .day,
    .hour,
    .minute,
    .second {
        font-family: "Bentham", serif;
        font-size: 0.7rem;
        padding: 4px;
        margin: 0px;
        display: inline;
    }

    #timer span {
        font-size: 1.5rem;

    }
}